.experiences-infos {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    /* Add wrap to allow items to wrap in smaller screens */
}

.experiences-infos div {
    border-radius: 8px;
    box-shadow: 0px 1px 15px #7597de;
    padding: 15px;
    transition: transform 0.2s ease-in-out;
    flex: 1;
    /* Adjust this if necessary for better control over flex items */
    min-width: 210px;
    /* Ensure items have a min width before wrapping */
}

.tcs,
.fdj,
.javaproject,
.chatinc {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 1px 15px #7597de;
    padding: 20px;
    margin: 20px;
    max-width: 210px;
}

.experiences-infos div:hover {
    transform: translateY(-5px);
}

.experiences-infos h3,
.experiences-infos p {
    margin-bottom: 20px;
    color: #d1ccdc;
    /* Adjust color as needed */
    text-align: center;
}

.experiences-infos p {
    color: #fff;
    font-size: 0.95rem;
    line-height: 1.6;
}

/* Responsive adjustments */
@media (max-width: 400px) {
    .experiences-infos {
        flex-direction: column;
        align-items: center;
    }

    .tcs,
    .fdj,
    .javaproject,
    .chatinc {
        width: 100%;
        /* Make divs full width to stack them vertically */
        max-width: none;
        /* Override max-width */
        margin: 10px 0;
        /* Adjust margin for vertical stacking */
    }
}