.langues {
    max-width: 300px;
    font-family: Arial, sans-serif;
}

.langue-nom {
    margin: 0 0 5px 0;
    font-weight: bold;
    margin-top: 20px;
    color : #d1ccdc;

}

.progress-bar {
    height: 20px;
    background-color: #d1ccdc;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.francais::after, .anglais::after, .allemand::after, .arabe::after {
    content: '';
    display: block;
    height: 20px;
    background-color: #7597de;
    border-radius: 8px 0 0 8px; 
}

.francais::after { width: 100%; }
.anglais::after { width: 80%; }
.allemand::after { width: 50%; }
.arabe::after { width: 50%; }


