header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10000;
}


.logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 10vh;
    padding-left: 10vh;
}

header ul {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5vh;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #393558;
}

@media (max-width: 500px) {
    header {
        justify-content: end; 
        padding-top: 20px; 
    }

    header ul {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-end; /* Align items to the right */
        padding-top: 20px; /* Add some space above the navigation on smaller screens */
    }

    header ul li {
        margin: 10px 0; /* Add some vertical spacing between links */
    }
}
